.root {
    -fx-font-size: 9pt;
    -fx-text-fill: #223768;
    -fx-spacing: 5;
    -fx-padding: 5 5 5 5;
    -fx-background-color: lightskyblue;
}
.module-pane {
    -fx-spacing: 10;
    -fx-padding: 5 5 5 5;
    -fx-background-color: lightskyblue;
}

.tool-bar {
    -fx-base: #426ab7;
    -fx-background: #263e75;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 20;
    -fx-padding: 5 5 5 5;
    -fx-background-color: #000000,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
}

.main-tool-bar {
    -fx-font-size: 14;
    -fx-base: #426ab7;
    -fx-background: #263e75;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-color: #000000,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
}


.button, .tool-bar .label {
    -fx-base: #426ab7;
    -fx-background: #263e75;
    -fx-shadow-highlight-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 2;
}

.hbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: inherit;
}

.vbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: inherit;
}

.data-grid {
    -fx-vgap: 4;
    -fx-hgap: 8;
}

.icon-grid {
    -fx-vgap: 8;
    -fx-hgap: 16;
}


/*.button{*/
    /*-fx-base: #426ab7;*/
    /*-fx-background: #263e75;*/
    /*-fx-shadow-highlight-color: transparent;*/
    /*-fx-spacing: 5;*/
    /*-fx-padding: 4 4 4 4;*/
    /*-fx-background-color: #000000,*/
    /*linear-gradient(#7ebcea, #2f4b8f),*/
    /*linear-gradient(#426ab7, #263e75),*/
    /*linear-gradient(#395cab, #223768);*/
    /*-fx-text-fill: white;*/
    /*-fx-background-radius: 2;*/
/*}*/